
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-3 px-md-5 pb-4" id="main-content">
    <h5 class="text-black font-weight-bold row">Access Denied</h5>
    <p class="text-black font-weight-bold row">You are not authorized to see this page.</p>
</div>
